<!DOCTYPE html>
<h1>Here Are Your Characters!</h1><br>
<a href="/characters/new">Add New Character</a><br><br><br>

<% @characters.each do |character| %>
        <h2><a href="/characters/<%= character.id%>"><%= character.name%></a> <i><b>(<%= character.race%>)</b></i> <%= character.job%> </h2>
        <p><b><%= character.npc_pc%></b><a href ="/characters/<%= character.id %>/edit">Edit</a></p>       
<% end %>