
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
    <h1 >Character: <%= @character.name %></h1>    
    <h3 >Type: <%= @character.npc_pc %></h3><br>
    <div>
<div class="row">
  <div class="column">
    <dl>
        <dt><b>Stats:</b></dt>
        <dd>- Strength: <%= @character.str %></dd>
        <dd>- Dexterity: <%= @character.dex %></dd>
        <dd>- Constitution: <%= @character.con %></dd>
        <dd>- Intelligence: <%= @character.int %></dd>
        <dd>- Wisdom: <%= @character.wis %></dd>
        <dd>- Charisma: <%= @character.cha %></dd>
    </dl><br>

    <dl>
        <dt><b>Age:</b> <%= @character.age %></dt>
        <dt><b>Height:</b> <%= @character.height %></dt>
        <dt><b>Race:</b> <%= @character.race %></dt>
        <dd>- <b>SubRace:</b> <%= @character.subrace %></dd>
        <dt><b>Class:</b> <%= @character.job %></dt>
        <dd>- <b>SubClass:</b> <%= @character.subjob %></dd>
        <dt><b>Deity:</b> <%= @character.deity %></dt>
        <dt><b>Level:</b> <%= @character.level %></dt>
        <dt><b>Alignment:</b> <%= @character.alignment %></dt>
        <dt><b>Background:</b> <%= @character.bg %></dt>  
    </dl><br>
    <p><b>Bio:</b> <%= @character.bio %></p>
   </div>
<div class="column">
    <dl>
        <dt><b>Currently Skilled In:</b></dt>
         
        <dd>- <%= @character.skill1 %></dd>            
        <dd>- <%= @character.skill2 %></dd>
        <dd>- <%= @character.skill3 %></dd>
        <dd>- <%= @character.skill4 %></dd>
        <dd>- <%= @character.skill5 %></dd>
        <dd>- <%= @character.skill6 %></dd>
        <dd>- <%= @character.skill7 %></dd>
        <dd>- <%= @character.skill8 %></dd>
        <dd>- <%= @character.skill9 %></dd>
        <dd>- <%= @character.skill10 %></dd>
        <dd>- <%= @character.skill11 %></dd>
        <dd>- <%= @character.skill12 %></dd>
        <dd>- <%= @character.skill13 %></dd>
        <dd>- <%= @character.skill14 %></dd>
        <dd>- <%= @character.skill15 %></dd>
        <dd>- <%= @character.skill16 %></dd>
        <dd>- <%= @character.skill17 %></dd>
        <dd>- <%= @character.skill18 %></dd>   
      
    </dl><br>
     
</div>
</div>
</body>
</html>



    
      
        
      

      
   